body {
	background-color: black;
	color: white;
}
a {
	color: white;
	text-decoration: none;
}
a:visited {
	color: #D3D3D3;
}
a:hover {
	color: #F5F5F5;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: -1.0em;
}
