{% extends "base.html" %}
{% block title %}nx1.info | Server{% endblock %}
{% block content %}
<pre>
System Information:
=============================================
{{ system_info }}
=============================================

Tools:
<a href="{{ url_for('digger.routes.index') }}">Discogs Digger</a>  : Search for tracks by artist or label on Discogs.
<a href="{{ url_for('skybouncer.routes.index') }}">SkyBouncer</a>      : Find looped flights from a starting airport.
<a href="{{ url_for('inspector.routes.index') }}">Module Browser</a>  : View installed Python modules.
<a href="#">EXOD</a>            : EPIC XMM Outburst Detector.
<a href="#">Investment Fund</a> : Losing money since 2025.
<a href="#">pyInspector</a>     : View repos visually.
<a href="#">FogMaps</a>         :  The real voyage of discovery consists not in seeing new sights, but in looking with new eyes.


Server Webcam:
<img src="{{ url_for('static', filename='server.png') }}" style="width: 570px; height: 570px">
</pre>
{% endblock %}
</pre>
</body>
</html>